<!DOCTYPE HTML>

<head>
    <title>ReadWithMe</title>
    <link rel='stylesheet' href='/css/home.css'>
    <link rel='stylesheet' href='/css/tipped.css'>

</head>
<body>
    
    <input type="file" id="files"/>
    <p id="status">Please select a file</p>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Use latest PDF.js build from Github -->
    <script type="text/javascript" src="/js/tipped.js"></script>    
    <script type="text/javascript" src="/js/imagesloaded.pkgd.min.js"></script>    
    <script type="text/javascript" src="/js/dropzone.js"></script>
    <script type="text/javascript" src="/js/lodash.js"></script>
    <script type="text/javascript" src="/js/s3upload.js"></script>
    <script type="text/javascript" src="/js/home.js"></script>
</body>
