<!DOCTYPE HTML>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/main.css'>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
    <!-- Use latest PDF.js build from Github -->
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/pdf.js"></script>    
    <script type="text/javascript" src="/js/pdf.worker.js"></script>    
    <script type="text/javascript" src="http://www.WebRTC-Experiment.com/RecordRTC.js"></script>

</head>
<body>
    <div id="video_overlay">
        <video id="video" width="320" height="230">
            <source id="videosource" type="video/webm"> 
            </video>
        <audio id="audio">
            <source id="audiosource" type="audio/ogg"> 
        </audio>
    </div>
    <div id="content_area">
        <div id="pdfdiv">
            <canvas id="pdfarea"></canvas>
            <center>
            <div>
                <button id="prev">Previous</button>
                <button id="next">Next</button>
                <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
            </div>
            </center>
        </div>
        <div id="record_bar"><img src="img/record.png"></img></div>
        <div id="webcam_stream"></div>
        <div id="playback_bar"></div>
        <div id="record_bar"><img src="img/record.png"></img></div>
    </div>
</body>
