<!DOCTYPE HTML>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/main.css'>
    <link rel='stylesheet' href='/css/tipped.css'>
    <script>
        window.global = {};
        global.book_id = <%= book_id %>;
    </script>

</head>
<body class="dialogIsOpen">
    <div id="page-wrap">
        <header>
        <img src="/img/book.png"></img>
        <h1>ReadWithMe</h1>

        <nav>
        <ul class = "right">
            <li id="header_username"></li>
            <li>Logout</li>
            <li><img src="" id="header_photo"></img></li>
        </ul>
        </nav>
        </header>
        <div id="video_overlay">
            <video id="video" width="320" height="230" controls autoplay>
            <source id="videosource" type="video/webm"> 
            </video>
            <audio id="audio">
            <source id="audiosource" type="audio/ogg"> 
            </audio>
        </div>
        <div id="content_area">
            <div id="pdfdiv">
                <canvas id="pdfarea"></canvas>
                <center>
                    <div>
                        <button id="prev">Previous</button>
                        <button id="next">Next</button>
                        <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
                    </div>
                </center>
            </div>
            <div id="webcam_stream"></div>
            <div id="playback_bar"></div>
            <div id="toolbar">
                <div id="recordVideo"><img src="/img/video.png" alt="" /></div>
                <div id="recordText"><img src="/img/bubble.png" alt="" /></div>
                <div></div>
            </div>
        </div>
    </div>
    <div id="modal" class="dialogIsOpen">
        <img src="http://eatr.co/images/fb_login.png"></img>
    </div>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
    <!-- Use latest PDF.js build from Github -->
    <script type="text/javascript" src="/js/pdf.js"></script>    
    <script type="text/javascript" src="/js/pdf.worker.js"></script>    
    <script type="text/javascript" src="http://www.WebRTC-Experiment.com/RecordRTC.js"></script>
    <script type="text/javascript" src="/js/tipped.js"></script>    
    <script type="text/javascript" src="/js/imagesloaded.pkgd.min.js"></script>    
    <script type="text/javascript" src="/js/main.js"></script>
</body>
