body {
  margin: 10px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

#webcam_stream {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
}

#webcam_stream video {
  border: 2px solid #dcc;
}
