html, body{
  min-height: 100%;
  height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
}
ul {
}
ul li {
  list-style-type: none;
  display: block;
  float: left;
}

ul:hover li{
  display: block; 
}
a {
  color: #00B7FF;
}

#video_overlay {
  height: 230px;
  width: 320px;
  padding: 5px;
  z-index: 10;
  background-color: gray;
  display: none;
}

#video_overlay #video {
  float: center;
}

#video_overlay.show {
  opacity: 1.0;
  z-index: 10000;
  -webkit-transition-duration: 0.25s; 
}

#content_area{
    position: relative;
    overflow: auto;
}

#content_area div{
    float: left;
}

.navButtons{
    height: 100%;
    width: 50px;
    position: relative;
}
.navButtons h1{
    position: absolute;
    top: 50%;
    left: 15px;
    text-align: center;
}

.navButtons:hover{
background-color: #DDDDDD;
}

#playback_bar {
  width: 50px;
  display: inline-block;
}

#webcam_stream {
    position: absolute;
    right: 20px;
    top: 80px;
    display: none;
  padding: 0;
}

#webcam_stream video {
  border: 2px solid #dcc;
}

.videoHead{
    /* position: absolute; */
}
img.addreply{
    width: 20px;
    padding: 15px 5px;
}
.msg-icon {
    border-radius: 80px;
}

.textHead{
    width: 200px;
    font-color: "black";
    margin-left: 60px;
    padding: 2px 2px 2px 2px;
    border: 2px solid #dcc;
    background-color: #ffffcc;
}

#modal {
  background: white;
    height: 0px;
  position: fixed;
  top: 100px;
  left: 35%;

  /* Embiggen */
  transform: scale(1.5); /* prefix me */

  /* Hidden */
  opacity: 0;
  pointer-events: none;
}

.dialogIsOpen #page-wrap {

  /* Blur and de-color */
  -webkit-filter: blur(5px) grayscale(50%);

  /* Recede */
  -webkit-transform: scale(0.9);

}

.dialogIsOpen #modal {
  
  /* Regular size and visible */
  transform: scale(1); /* prefix me */
  opacity: 1;

  /* Clickable */
  pointer-events: auto;
}

header {
  height: 33px;
  display: block;
  color: #fff;
  background-color: black;
  line-height: 33px;
  padding: 5px 0px 5px 10px;
  position: relative;
}

header h1 {
	margin: 0px;
  font-size: 22px;
  float: left;
  padding: 0px 5px;
}

header img {
    width: 32px;
    float:left;
}

nav {
  line-height: 28px;
  float: right;
  display: inline;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
nav ul li {
  float: left;
  padding: 0 10px;
  padding-left: 11px;
  position: relative;
}

nav ul li img {
    border-radius:10px;
}
#toolbar{
    display: none;
}
#toolbar div{
    float: left;
    padding: 0px 3px;
}
#pageIndicator{
    position: absolute;
    right: 30px;
    top:50px;
}

#feedback {
  position: absolute;
  display: inline-block;
  opacity: 0.3;
}

.display {
  opacity: 0.3;
  z-index: 99;
}
